*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    font-family: 'Fire Sans';

}

.weatherDay {
    border: 1px solid blue;
    border-radius: 10px;
}

#grad {
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.btn.btn-block {
    width: 100%;
    display: block;
    text-align: center;
}

.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: 1rem;
  
    border: none;
    outline: none;
   
    box-shadow: 3px 3px dark;
   
}

.form-input {
    width: 100%;
    padding: 0.5%;
    margin: 20px 0;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 1rem;
}
.searchBy {
    width: 100%;
    margin-left: 25px;
    font-weight: bolder;
    font-size: 50px;
 
    justify-content: left;

}

:root{
    --blue: rgb(5, 49, 246);
    --plum: rgb(90, 61, 171);
}

#header{
    height: 90px;
    background-image: linear-gradient(to right,var(--blue),var(--plum) );
  }

.flex-container{
  display:flex;
}

.flex-child{
  flex:1;
}

  .btn {
    font-size: 1.3rem;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 13px 0;
    border-radius: .3rem;
    color: white;
    outline: none;
    background-color: var(--blue);
  }

#city{
    margin-top: 5px;
    width: 100%;
    height: fit-content;
    size: larger;
    border-radius: 4px;
    border-color: rgb(209, 200, 200);
}

.forecast{
  background-color: #1b2f3f;
  color: white;
  margin: 5px;
  padding: 5px;
  display: inline-flex;
}

#city-weather{
  justify-content: right;
}

#search-history{
  padding: 10px;
  margin: 10px;
}